.Footer {
  background: #008575;
  width: 1580px;
  margin-top: 3000px;
  padding-bottom: 2rem;
  padding: 70px;
}

.Footer ul li {
  margin-top: 5px;
  list-style-type: none;
  padding: 4px;
}

body {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-weight: 400;
  color: white;
}
.FooterlinksHal {
  padding: 0 0.5rem;

  display: flex;
  justify-content: space-around;

  font-size: 17px;
  font-size: 0.875rem;
}

.FooterlinksHal h3 {
  font-size: 1.2rem;
  font-weight: 600;
}
.Thrift {
  padding: 40px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 25px;
  margin: 10px;
}

.flex {
  display: flex;
  justify-content: space-around;

  font-size: 12.48px;
}

.follow {
  height: 10px;
  width: 100px;
}

.Footersidebar {
  margin-bottom: 2%;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  padding-right: 15px;

  padding-left: 20px;
}

.FooterLast {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding-top: 30px;
  margin-left: 65px;
  margin-right: 65px;
  text-align: center;
  padding-bottom: 5px;
  font-size: 15px;
  line-height: 1.5rem;
}
